<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Production @ 225decor</h1>
            <span><address>Ho Chi Minh, VN</address><time>2021 to Present</time></span>
        </header>
        <p> Production researcher </p>
    </article>
    <article>
        <header>
            <h1>Interior Designer @ Houseontree</h1>
            <span><address>Ho Chi Minh, VN</address><time>2017 to 2021</time></span>
        </header>
        <p> Related to product furniture, layout design, planning </p>
    </article>
    <article>
        <header>
            <h1>Production Assistant @ Takiba</h1>
            <span><address>Ho Chi Minh, VN</address><time>2016 to 2017</time></span>
        </header>
        <p> Related to event, photographer assistant</p>
    </article>    
</section>
